:root {
    --height: 200px;
    --width: 300px;
    --quantity: 10;
}

/* html, body {
    margin: 0;
    padding: 0;
    height: 100%;
} */

body {
    background-color: #020058;
}

.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
}

/* Camada preta na frente */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(43, 43, 43, 0.2);
    pointer-events: none;
    z-index: 2;
}

/* Cada slider individual */
.slider {
    position: relative;
    padding: 20px 0;
    width: 100%;
    height: 25vh;
    overflow: hidden;
    z-index: 1;

    /* mask-image: linear-gradient(
        to right,
        transparent,
        #000000 10% 90%,
        transparent
    ); */
}

/* Cada lista dentro do slider */
.list,
.list2,
.list3,
.list4 {
    display: flex;
    width: 100%;
    min-width: calc(var(--width) * var(--quantity));
    position: relative;
}

/* Cada item animado */
.item {
    width: var(--width);
    height: var(--height);
    position: absolute;
    left: 100%;
    z-index: 1;
}

.list .item {
    animation: autoRun 150s linear infinite;
    animation-delay: calc((-150s / var(--quantity)) * (var(--position) - 1));
}

.list2 .item {
    animation: autoRunReverse 150s linear infinite;
    animation-delay: calc((-150s / var(--quantity)) * (var(--position) - 1));
}

.list3 .item {
    animation: autoRun 150s linear infinite;
    animation-delay: calc((-150s / var(--quantity)) * (var(--position) - 1));
}

.list4 .item {
    animation: autoRunReverse 150s linear infinite;
    animation-delay: calc((-150s / var(--quantity)) * (var(--position) - 1));
}

/* Imagens */
.item img {
    width: 300px;
    height: 200px;
}

/* Animações */
@keyframes autoRun {
    from {
        left: 100%;
    }
    to {
        left: calc(var(--width) * -1);
    }
}

@keyframes autoRunReverse {
    from {
        left: calc(var(--width) * -1);
    }
    to {
        left: 100%;
    }
}
