@import '../styles/variable.css';

.content {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-top: 32px;
    gap: 20px;
    color: var(--color-white);
    font-family: var(--font-main);
}

.content h1 {
    font-size: 60px;
    font-weight: 700;
}

.content p {
    font-size: 16px;
    font-weight: 600;
}