@import '../../styles/variable.css';

.headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 100px;
}

.linksHeader {
    display: flex;
    align-items: center;
    gap: 32px;
    font-size: 18px;
    font-weight: bold;
    font-family: var(--font-main);
}

.linksHeader a {
    text-decoration: none;
    color: var(--color-white);
}