@import '../../styles/variable.css';

.headerContainer {
    position: relative;
    z-index: 100;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 80px;
    background: linear-gradient(to right, #040e7e, #8e009b);
    color: white;
}

.linksHeader {
    display: flex;
    align-items: center;
    gap: 40px;
    font-size: 18px;
    font-weight: bold;
    font-family: var(--font-main);
}

.linksHeader a {
    text-decoration: none;
    color: var(--color-white);
}