@import '../../styles/variable.css';

.headerContainer {
    position: relative;
    z-index: 100;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 80px;
    background: linear-gradient(
        to right,
        rgba(32, 32, 32, 0.8) 0%,   /* Preto com 80% de opacidade no início */
        rgba(32, 32, 32, 0) 35%,    /* Transição suave para transparente em 15% */
        #131d88 40%              /* Azul totalmente opaco a partir de 20% */
    );
    color: white;
}

.linksHeader {
    display: flex;
    align-items: center;
    gap: 40px;
    font-size: 18px;
    font-weight: bold;
    font-family: var(--font-main);
}

.linksHeader a {
    text-decoration: none;
    color: var(--color-white);
}